<div>
  <table id="{{ vm.name }}"
         class="table msm-table-table-view"
         ng-class="{ 'msm-table-isLoading': vm.isLoading }"
         ng-if="!vm.isMobile"
         click-outside="vm.clearActive()">
    <thead>
      <tr>
        <th class="msm-table-selector-all"
            ng-show="vm.selectionEnabled"></th>
        <th ng-repeat="col in vm.cols | filter : vm.visibility[col.key]"
            ng-class="{
              'msm-table-isSortable': vm.orderByEnabled && col.sort !== false,
              'msm-table-isSortedAsc': vm.orderBy.key === (col.sort || col.key) && vm.orderBy.asc === true,
              'msm-table-isSortedDesc': vm.orderBy.key === (col.sort || col.key) && vm.orderBy.asc === false }"
            ng-click="vm.orderByEnabled && col.sort !== false && vm.setOrderBy(col.sort || col.key)"
            translate="{{ col.name }}">
        </th>
      </tr>
    </thead>
    <thead class="msm-table-loading-bar">
      <tr>
        <th colspan="{{ vm.cols.length + 1 }}">
          <div class="msm-table-progress">
            <div class="msm-table-container">
              <div class="msm-table-bar msm-table-bar1"></div>
              <div class="msm-table-bar msm-table-bar2"></div>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in vm.rows"
          ng-class="{ 'msm-table-isActive': vm.active === $index, 'msm-table-isSelected': vm.selection[row.id] }"
          ng-click="vm.activeEnabled && vm.setActive($index)">
        <td class="msm-table-selector"
            ng-show="vm.selectionEnabled"
            ng-click="vm.setSelection(row[vm.selectionKey])"></td>
        <td ng-repeat="col in vm.cols | filter : vm.visibility[col.key]"
            data-label="{{ col.name | translate }}"
            msm-table-view-cell>{{ row[col.key] }}
        </td>
      </tr>
    </tbody>
  </table>
  <ol class="list-unstyled msm-table-list-view"
      ng-if="vm.isMobile">
    <li ng-repeat="row in vm.rows"
        ng-include="vm.mobileTemplateUrl"></li>
  </ol>
</div>